@model IEnumerable<FootballProgrammes.Models.MediaFile>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>


<div class="container">
    <div class="row">
        <div class=col-12>
            <table class="table table-striped" id="datatable">
                <thead>
                    <tr>
                        <th></th>
                        <th>Linked File Type</th>
                        <th>Linked File Id</th>
                        <th>Date Added?</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>
                                @(item.BookId == null ? "" : "Book")
                                @(item.FootballProgrammeId == null ? "" : "Football Programme")
                                @(item.TicketId == null ? "" : "Ticket")
                            </td>
                            <td>
                                @(item.BookId == null ? "" : $"{item.BookId}")
                                @(item.FootballProgrammeId == null ? "" : $"{item.FootballProgrammeId}")
                                @(item.TicketId == null ? "" : $"{item.TicketId}")
                            </td>
                            <td>@item.DateAdded.ToString("dd MMM yyyy")</td>
                            <td>
                                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

